@{
ViewData["Title"] = "Éxito al Insertar";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
<p>Compañía insertada con éxito en la BD.</p>
<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Volver al Inicio</a>
</div>